@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Poppins, serif;
}

body {
    margin: 0;
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#header {
    height: 100px;
    width: 100vw;
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #f8fafc;
    margin-left: 2rem;
}

#addBook {
    background: #f8fafc;
    border: solid #f8fafc 1px;
    border-radius: 10px;
    margin-right: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    box-shadow: none;
    color: #0f172a;
    font-size: 1rem;
    font-family: Poppins;
    transition: transform .4s;
}

#addBook:hover{
    transform: scale(1.1);
}

dialog {
    font-family: Poppins;
    border-radius: 10px;
    border: solid #0f172a 5px;

}

dialog[open] {
    animation: flipFadeIn 1s forwards;
}

@keyframes flipFadeIn {
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

#addBookForm, #editBookForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2rem;
}

input[type="radio"] {
    background-color: #0f172a;
    border: #0f172a;
    accent-color: #0f0f0f;
}

#submitBook, #submitEdit {
    background: #0f172a;
    border: solid #0f172a 1px;
    border-radius: 5px;
    color: #f8fafc;
    font-weight: 600;
    cursor: pointer;
}

section {
    display: inline-block;
}

#booksContainer {
    padding: 2rem;
    height: inherit;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-shrink: 2;
}

.bookCard {
    border: solid #1e293b 5px;
    color: #1e293b;
    font-size: 1.125rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
    width: 10rem;
    height: 15rem;
    transition: transform .4s;
}

.bookCard:hover{
    transform: scale(1.1);
}

.bookCard>p {
    width:100%;
    margin: 0;
    padding: 10px;
    text-align:start;
    color: #0f172a;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookCardHeader {
    display: flex;
    width: inherit;
    height: fit-content;
    background-color: #1e293b;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.editBook {
    margin-left: auto;
    align-self: center;
    display: flex;
}

svg {
    align-self: center;
}

#bodyContainer{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#statistics{
    border: solid #0f172a 5px;
    width: 15rem;
    min-width: 15rem;
    height: 10rem;
    margin: 10px;
    flex-shrink: 1;
    border-radius: 10px;
}

#statsHeader{
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    height: 3rem;
}

#statsHeader{
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

h2{
    color: #f8fafc;
}

#statsBody {
    padding-left:10px;
}